*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fbody{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: #999;
}

ul{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}

.footer{
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}

.footer, .footer a{
    color: #999;
    font-size: 0.9rem;
}

.footer p{
    margin-bottom: 1.5rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li{
    line-height: 1.9;
}

a:hover{
    color: #fff !important;
}